* {
    margin: 0;
    box-sizing: border-box;
    
}
#iconNav {
 display: flex;
 height:50px;
 width: 30px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:black;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar h1 {
    margin-left: 60%;
}

.navlist {
    display: flex;
    list-style-type: none;
}
.navlist li {
    margin-left: 20px;
}
.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 400px;
    height: 50px;
}

/* Search input field */
.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    width: 1%;
}

/* Search button */
.search-button {
    background-color: #fab700;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}
.search-button:hover {
    background-color: #2a2617;
}

.userProf{
 display: flex;
 background-color: rgb(31, 31, 31);
 padding: 5% ;
 color: #fff;

}

.btnUser{
   margin-left: 55%;
}
.btnUser >button {
    padding: 30px 30px; /* Adjust height and width */
    border: none; /* Border color */
    border-radius: 30px; /* Makes the button rounded */
    background: rgb(83, 83, 83); /* No background */
    color: #e9e9e9; /* Text color */
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
.btnUser> button:hover {
    background-color:rgba(112, 112, 112, 0.481);
}
#userIcon{
    height: 3cm;    
    width: 3cm;
}
.join{
    font-weight: 800;
}
.share{
    height: 30px;
    width: 30px;
}   

.Editprofile{
    padding: 10px 30px; /* Adjust height and width */
    border: none; /* Border color */
    border-radius: 50px; /* Makes the button rounded */
    background: rgb(83, 83, 83); /* No background */
    color: #007bff; /* Text color */
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin-left: -40%;
  }
  .Editprofile:hover {
    background-color:rgba(112, 112, 112, 0.481);
}

  .Browse{
    padding: 10px 30px; /* Adjust height and width */
    border: 2px solid #025ec0; /* Border color */
    border-radius: 50px; /* Makes the button rounded */
    background: white; /* No background */
    color: #0261c7; /* Text color */
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    margin-top:  5%;
    margin-left: 42%;
  }
  .Browse:hover {
    background-color:lightgrey;
}





