* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centering {
  width: 1000px;
  margin: auto;
}

header {
  background-color: #14181c;
  position: relative;
  z-index: 1;
}

.actorProfile {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 40px;
}

.actorFilms {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.actorFilms p {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  color: #667788;
}

.actorFilms h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
}

.actorFilms img {
  width: 125px;
  height: 190px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.actorFilms img:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutActor {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.aboutActor img {
  width: 230px;
  height: 340px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255, 0.3);
  cursor: pointer;
}

.aboutActor img:hover {
  border: 1px solid rgb(255, 255, 255 , 0.6);
  transition: 0.3s;
}

.aboutActor h3 {
  font-size: 15px;
  margin-top: 20px;
  color: #667788;
}

.aboutActor p {
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
  color: #667788;
}

footer {
  background-color: #2c3440;
  color: #91a1b2;
  height: 170px;
}

.hallFooter {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.Links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.footerLink {
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.footerLink:hover {
  color: #fff;
}

.copyRights {
  font-size: 12px;
  opacity: 0.6;
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.socialLink {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.socialLink:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .centering {
    width: 100%;
    padding: 0 20px;
  }

  .actorProfile {
    flex-direction: column;
    align-items: center;
  }

  .actorFilms {
    width: 100%;
  }

  .aboutActor {
    width: 100%;
    align-items: center;
  }

  .aboutActor img {
    width: 80%;
  }

  .actorFilms img {
    width: 80%;
  }

  .socialLinks {
    flex-direction: column;
    align-items: center;
  }
}
