* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #13c6b0;
  --hover-color: #139d8dff;
}


.centering {
  width: 1000px;
  margin: auto;
}


header {
  background-color: #14181c;
  position: relative;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

.logo {
  font-size: 29px;
  color: #fff;
  font-weight: 800;
}

.logo img {
  width: 55px;
  height: 20px;
}

.navbarItems {
  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 15px;
  width: 60px;
  height: 60px;
  color: var(--main-color);
}

.navbar-nav {
  display: flex;
  align-items: center;
  position: relative;
}
.search:hover i{
color:gray

}
.navbar-nav .nav-item {
  margin: 0 10px;
}


.nav-link {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 800;
  transition: 0.2s;
  color: #F7FAFC;

}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
}

.dropdown-menu  {
  margin:5px;
  display: none;
  /* z-index: ; */
  position: absolute;
  top: 26px;
  background-color: #FFFFFF4E;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#ll:hover {
  background:#A82331FF !important;

}

.dropdown-item {
  padding: 15px 0;
}

.btn {
  border: none;
  background-color: var(--main-color);
}
.dropdown-item{
  display:
}
a:hover {
  background:'transparent'
} 
.btn:hover {
  background: var(--hover-color);
}
#logOut:hover {
  background: #CA3035FF;
  color: red;
}
.dropdown-item.no-hover:hover,
.dropdown-item.no-hover a:hover {
  background-color: gray !important; /* Prevents background change */
}

.btnLog {
  background-color: var(--main-color);
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.btnLog:hover {
  background-color: var(--hover-color);
}

hr {
  margin: 5px 0px 15px 0px;
  border: 1px solid rgb(102, 119, 136, 0.3);
}

.actorProfile {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 40px;
}

.actorFilms {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.actorFilms p {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  color: #667788;
}

.actorFilms h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
}

.actorFilms img {
  width: 125 px;
  height: 190px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.actorFilms img:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aboutActor {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.aboutActor img {
  width: 230px;
  height: 340px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255, 0.3);
  cursor: pointer;
}

.aboutActor img:hover {
  border: 1px solid rgb(255, 255, 255, 0.6);
  transition: 0.3s;
}

.aboutActor h3 {
  font-size: 15px;
  margin-top: 20px;
  color: #667788;
}

.aboutActor p {
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
  color: #667788;
}

footer {
  background-color: #2c3440;
  color: #91a1b2;
  height: 170px;
}

.hallFooter {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.Links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.footerLink {
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.footerLink:hover {
  color: #fff;
}

.copyRights {
  font-size: 12px;
  opacity: 0.6;
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.socialLink {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.socialLink:hover {
  color: #fff;
}

nav + div {
  padding: 0 auto;
}

/* .dropdown-menu.show {
  display: block;
} */