@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --main-color: #13c6b0;
  --secondary-color: #DD384BFF;
} 
body{
  font-family: 'Poppins', sans-serif;

}